@font-face {
    font-family: 'Peach';
    src: url('font/Blue\ Style.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Sally';
    src: url('font/The\ Sally.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Presley';
    src: url('font/Presley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/bg.png');
    color: rgb(163, 69, 84);
    font-size: 1.8rem;
    font-family: 'Presley', sans-serif;
    padding: 20px;
    padding-top: 100px;
    overflow-y: hidden;
}


h1 {
    font-family: 'Peach', sans-serif;
    color: rgb(252, 213, 128);
    text-align: center;
    position: relative;
    font-size: 4rem;
    text-shadow: 0 0 10px rgba(252, 213, 128, 0.8), 0 0 20px rgba(252, 213, 128, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    animation: glow 2s infinite; /* Adjust the animation duration as needed */
    line-height: 0.2;
}

.text1 {
    font-family: 'The Sally', sans-serif;
    color: rgb(252, 213, 128);
    text-align: center;
    position: relative;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(252, 213, 128, 0.8), 0 0 20px rgba(252, 213, 128, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    animation: glow 2s infinite; /* Adjust the animation duration as needed */
    line-height: 0.2;
    padding-top: 120px;


}

.text2 {
    font-family: 'The Sally', sans-serif;
    color: rgb(252, 213, 128);
    text-align: center;
    position: relative;
    font-size: 2rem;
    text-shadow: 0 0 10px rgba(252, 213, 128, 0.8), 0 0 20px rgba(252, 213, 128, 0.8), 0 0 30px rgba(255, 255, 255, 0.8);
    animation: glow 2s infinite; /* Adjust the animation duration as needed */
    line-height: 0.2;

}


   
@keyframes glow {
    0% {
        text-shadow: 0 0 10px rgba(252, 213, 128, 0.8), 0 0 20px rgba(252, 213, 128, 0.8), 0 0 30px rgba(252, 213, 128, 0.8);
    }
    50% {
        text-shadow: 0 0 20px rgba(252, 213, 128, 0.8), 0 0 30px rgba(252, 213, 128, 0.8), 0 0 40px rgba(252, 213, 128, 0.8);
    }
    100% {
        text-shadow: 0 0 10px rgba(252, 213, 128, 0.8), 0 0 20px rgba(252, 213, 128, 0.8), 0 0 30px rgba(252, 213, 128, 0.8);
    }
}


